.services-submenu {
  width: 10rem;
  flex: 1;
  height: 220px;
  position: absolute;
  display: block;
  margin-top: -5px;
  list-style: none;
  text-align: start;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1;
  transition: 0.3s linear;
  z-index: 1;
}

.services-submenu li {
  background: white;
  margin-top: 20px;
  border-width: 1;
  border-color: "black";
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: 0.3s linear;
}

.services-submenu li :hover {
  text-overflow: unset;
  white-space: unset;
  overflow: visible;

  padding-bottom: 3px;
  transition: 0.3s linear;
  margin-left: 10px;
}

.services-submenu li ::before {
  content: "";
  bottom: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.3s linear;
  border-width: 1;
  border-color: "black";
}

.services-submenu li :hover::before {
  width: 100%;
  left: 0;
  border-bottom: 2px solid black;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  width: 100%;
  color: black;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s linear;
}
