.fullContainer {
  border: 1px solid #f1f1f1;
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.flip-card {
  background-color: transparent;
  flex: 1;
  height: 600px;
  perspective: 1000px;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 400px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 300px;
  height: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.desc-container {
  width: 400px;
  height: 500px;
  text-align: justify;
  padding: 30px;
}

.text {
  display: inline;
  width: 100%;
  font-size: 12px;
}

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.babContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s linear;
  margin-bottom: 200px;
  border: 1px solid #f1f1f1;
  padding-right: 10px;
  padding-left: 10px;
}

.babContainer:hover {
  cursor: pointer;
  background-color: #fafafa;
  opacity: 0.9;
  transition: 0.3s linear;
}

.row {
  display: flex;
  align-items: center;
}

.titleStyle {
  font-size: 15px;
  margin-left: 12px;
  color: #3d3d3d;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  max-width: 370px;
}

.dateStyle {
  width: 102px;
  font-size: 13px;
  color: #b1b1b1;
  letter-spacing: 1px;
}

.tx {
  width: 59px;
  font-size: 15px;
  color: #3d3d3d;
  letter-spacing: 1px;
  text-align: right;
}

.new {
  color: red;
  font-size: 9px;
  display: inline-block;
  top: -5px;
  position: relative;
}

.rate {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  color: #000;
  vertical-align: middle;
  text-align: center;
}

.buttonContainer {
  justify-content: center;
  text-align: center;
  width: 180%;
}

.buttonStart {
  width: 180%;
}

.titleStyles {
  margin-bottom: -13px;
  margin-top: 20px;
}

.primaryButtonContainer {
  margin-left: 150px;
}

@media only screen and (max-width: 1024px) {
  /* .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 80px;
    margin-top: 27px;
    justify-content: space-between;
  } */
}

@media only screen and (max-width: 814px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    display: flex;
  }
  .desc-container {
    flex: 1;
    height: 500px;
    text-align: justify;
    padding: 30px;
  }
  /* .primaryButtonContainer {
    width: 20px;
  }
  .nav-btn {
    width: 20px;
  } */
  .buttonStart {
    width: 130%;
  }
}
@media only screen and (max-width: 760px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    display: flex;
  }
  .desc-container {
    flex: 1;
    height: 500px;
    text-align: justify;
    padding: 30px;
  }

  .buttonStart {
    width: 140%;
  }
}
@media only screen and (max-width: 662px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    display: flex;
  }
  .desc-container {
    flex: 1;
    height: 500px;
    text-align: justify;
    padding: 30px;
  }
  .primaryButtonContainer {
    width: 20px;
  }
  /* .nav-btn {
    width: 20px;
    margin-right: 0;
  } */
  .buttonStart {
    width: 160%;
  }
}

@media only screen and (max-width: 581px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 430px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 364px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 340px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .fullContainer {
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flip-card {
    background-color: transparent;
    flex: 1;
    height: 600px;
    perspective: 1000px;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
