.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  margin-top: auto;
  background-color: black;
}

.logo_footer {
  width: 109.85px;
  height: 38.42px;
  margin-left: 80px;
  margin-top: 26px;
}

.footer_icon_container {
  display: flex;
  flex-direction: row;
  width: 149px;
  margin-top: 27px;
  margin-right: 80px;
  justify-content: space-between;
}

.footer_icon_container:hover {
  cursor: pointer;
}

.icon_footer {
  width: 36.07px;
  height: 36.07px;
}

@media only screen and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 80px;
    margin-top: 27px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 814px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 70px;
    margin-top: 27px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 581px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 65px;
    margin-top: 27px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 430px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 50px;
    margin-top: 27px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 364px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 165%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 40px;
    margin-top: 27px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 340px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 173%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 35px;
    margin-top: 27px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180%;
    height: 90px;
    margin-top: auto;
    background-color: black;
  }
  .footer_icon_container {
    display: flex;
    flex-direction: row;
    width: 30px;
    margin-top: 27px;
    justify-content: space-between;
  }
}
